<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="fb8c98">  <td>19/08/02 18:43:31</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;TrekRD.InitConfig()[pri:0, instance:testCases.TrekRD@7bb11784]">&gt;&gt;InitConfig</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@209813603</td>   <td></td> </tr>
<tr bgcolor="fb8c98">  <td>19/08/02 18:43:31</td>   <td>14</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TrekRD.testapp()[pri:0, instance:testCases.TrekRD@7bb11784]">testapp</td> 
  <td>main@209813603</td>   <td></td> </tr>
</table>
